# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
06-lecture/1.Sort/0.random/test.7.in
06-lecture/1.Sort/0.random/test.7.out
06-lecture/1.Sort/2.sorted/test.7.in
06-lecture/1.Sort/2.sorted/test.7.out
06-lecture/1.Sort/3.revers/test.7.in
06-lecture/1.Sort/3.revers/test.7.out
08-lecture/test.2e+6.bin
08-lecture/test.2e+7.bin
08-lecture/test.2e+8.bin
08-lecture/test.2e+9.bin
08-lecture/test.2e+10.bin
